body {
  color: var(--color-text-main);
  padding-top: 0;
}

.site {
  @at-root #{&}-content {
    max-width: 60rem;
    margin: 0 auto;
  }
}

.site-content img {
  width: 100%;
}

body.login {
  height: 100vh;
  overflow: hidden;
  padding-top: 0;
  display: flex;

  .site {
    flex: 1 0 auto;
    background: #EEE;
    border: 4rem solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #{&}-header {
      display: none;
    }
  }
}

.center {
  text-align: center;
}

.experience h2 {
  margin-top: 2rem;
}

#skills ul li {
  text-decoration: none;
  display: block;
  line-height: 2em;
  color: var(--color-secondary-main);
}

.talk-container {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  margin: 2em 0;

  article {
    h3 {
      text-align: left;
    }

    &.left {
      padding-left: 2em;
    }

  }
}