body {
  color: var(--color-text-main);
  padding-top: 0;
}

.site {
  @at-root #{&}-content {
    max-width: 60rem;
    margin: 0 auto;
  }
}

.site-content img {
  width: 100%;
}

.center {
  text-align: center;
}

.experience h2 {
  margin-top: 2rem;
}

.skills {
  margin: 3em 0;

  ul li {
    text-decoration: none;
    display: block;
    line-height: 2em;
    color: var(--color-secondary-main);
  }
}

.free-course {
  color: var(--color-red);
}
