body {
  color: var(--color-text-main);
  padding-top: 0;
}

.site {
  @at-root #{&}-content {
    max-width: 60rem;
    margin: 0 auto;
  }
}

.site-content img {
  width: 100%;
}

// body.login {
//   height: 100vh;
//   overflow: hidden;
//   padding-top: 0;
//   display: flex;

//   .site {
//     flex: 1 0 auto;
//     background: #EEE;
//     border: 4rem solid white;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     #{&}-header {
//       display: none;
//     }
//   }
// }
.center {
  text-align: center;
}

.experience h2 {
  margin-top: 2rem;
}

.skills ul li {
  text-decoration: none;
  display: block;
  line-height: 2em;
  color: var(--color-secondary-main);
}

.talk-container {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  margin: 2em 0;

  article {
    padding-left: 2em;

    h3 {
      text-align: left;
    }
  }
}

.pagination {
  text-align: center;
  margin: 2em;
  font-size: 1.2em;
}

.pagination a,
.pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {
  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.pagination {
  text-align: center;
}