.listing {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    display: block;
    list-style: none outside;
    flex: 0 0 31%;
  }

  img {
    box-shadow: 0 0 0.2rem 0 rgba(68,68,68,.2);
    border-top-right-radius: .3em;
    border-top-left-radius: .3em;
  }

  .post-info {
    border-top: 1px solid rgba(68, 68, 68, .1);
    border-bottom: 1px solid rgba(68,68,68,.1);
    font-weight: 300;
    padding: .5em;
    font-style: italic;
  }

  .post-description {
    font-weight: 300;
    padding: .5em;
  }

  .post-tag {
    background: #607d89;
    color: white;
    width: 35%;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding: .3em;
    margin: 1em 1em 1em 0;
    border-radius: 0 .3em 0 .3em;
  }

  a {
    display: block;
    background: #fff;
    border-radius: 0.3em;
    color: rgb(68, 68, 68);
    text-decoration: none;
    position: relative;
    transition: background 0.3s ease-in, color 0.3s ease-in;
    box-shadow: 0 0 0.2rem 0 rgba(68, 68, 68, .2);
    margin: 1em 0;

    &:before {
      display: block;
      content: '';
      border-radius: 0.3em;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 0.3s ease-in;
      box-shadow: 0 0 .3rem 0.2rem rgba(68, 68, 68, .3);
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    & span {
      display: block;
    }

    & .title {
      font-weight: 700;
      font-size: 1.2rem;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase;
    }

    & .date {
      display: inline;
    }

    & .author {
      display: inline;
      float: right;
    }
  }
}
