@include bp(phone) {
  .talk-container {
    display: block;
  }

  .listing {
    display: block;

    li {
      width: 100%;
      margin: .6em auto;
    }
  }

  #demo-canvas {
    display: none;
  }

  .navigation-bar {
    width: 75%;
  }

  .nav-toggle {
    font-size: 1.4rem;
  }

  .site-content {
    padding: 2em;
    font-size: 1.2em;
  }

  .site-header {
    margin-bottom: 0;
  }

  .desc {
    text-align: left;
  }

  .item-grid {
    margin: 0 auto;
  }

  .item {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {

  .listing .post-tag,
  .listing a .author {
    display: none;
  }
}