body {
  background: none;
}

.site-header {
  margin-bottom: 3rem;
}

.site-branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(white, 1) 60%, rgba(white, 0) 100%);
  padding: var(--spacing-site) var(--spacing-site) .5em;

  p:nth-child(2) {
    padding-bottom: .7em;
  }

  p:nth-child(2) a {
    text-decoration: none;
  }

  .fab {
    color: #444;
    padding: 0 .3em;
  }

  .fab:hover {
    cursor: pointer;
    color: #607D89;
  }
}

.site-title {
  font-size: 1.8em;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;

  & a {
    text-decoration: none;
    color: inherit;
  }
}

.site-description {
  font-family: 'Open Sans';
  font-size: 100%;

  //color: rgb(204, 204, 204);
  //color: rgb(193, 193, 193);
  //color: rgb(128, 128, 128);
}

/* Header */
.large-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background: rgba(255, 255, 255, 0.1) center center;
  z-index: 1;
  //background: url("../images/a.jpg");
}

.navigation-bar {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  z-index: 2;
}