{% include completed-course.html link='https://softuni.bg/certificates/details/20797/b83152a9' courseName='Programming
Basics with C#' %}
{% include completed-course.html link='https://digital.softuni.bg/certificates/details/5593/9e185d49' courseName='Marketing
Fundamentals' %}
{% include completed-course.html link='https://softuni.bg/certificates/details/18549/e85ffd74' courseName='Web
Fundamentals - HTML5' %}
{% include completed-course.html link='https://softuni.bg/certificates/details/19769/c4117e3f' courseName='Wordpress
Basics' %}
{% include completed-course.html link='https://softuni.bg/certificates/details/50557/d11211c5' courseName='Programming
Fundamentals' %}
{% include completed-course.html link='https://softuni.bg/certificates/details/50749/0fff7126' courseName='Software
Technologies' %}
{% include completed-course.html link='https://softuni.bg/certificates/details/51323/15f3c9dc' courseName='C# Advanced' %}
{% include completed-course.html link='https://softuni.bg/certificates/details/53623/c927c3d7' courseName='C# OOP
Basics' %}
{% include completed-course.html link='https://softuni.bg/Certificates/Details/53649/8fc65b1e' courseName='C# OOP
Advanced' %}
{% include completed-course.html link='https://softuni.bg/Certificates/Details/57219/11537b0d' courseName='JavaScript for
Front-End' %}
{% include completed-course.html link='https://softuni.bg/certificates/details/57941/7aff690f' courseName='Train the
Trainers' %}
{% include completed-course.html link='https://softuni.bg/certificates/details/58326/d21a712e' courseName='JavaScript
Fundamentals' %}
{% include completed-course.html link='https://softuni.bg/certificates/details/59632/a745a90b' courseName='JavaScript
Advanced' %}
{% include completed-course.html link='https://softuni.bg/Certificates/Details/75025/f96730d1' courseName='JavaScript
Applications' %}
{% include completed-course.html link='https://softuni.bg/Certificates/Details/60065/d10dba92' courseName='CSS
Advanced' %}
{% include completed-course.html link='https://softuni.bg/certificates/details/63269/7eba5305' courseName='Agile Software Development' %}
{% include completed-course.html link='https://softuni.bg/certificates/details/72845/75a0de76' courseName='Microsoft Excel Fundamentals' %}