<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Antonia Atanasova</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css"/>
</head>
<body class="{% if page.type %}{{page.type}} {% endif %}{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}">
<div class="site">

    <input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
    <header class="site-header">
        <div class="site-branding">
            <p class="site-title">
                <a href="{{ site.baseurl }}/">{{ site.title }}</a>
            </p>
            <p class="site-description">{{ site.description }}</p>

            <div>
                <a href="https://github.com/antoniyaat"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.facebook.com/antoniyaat"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/antoniyaat/"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/antoniyaata/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </div>

        <label id="nav-toggle-right" for="nav-main-toggle" class="fas nav-toggle right"><span>Menu</span></label>
        <nav class="navigation main">
            <ul>
                <li><a class="fas fa-newspaper" href="{{ site.baseurl }}/">BLOG</a></li>
                <li><a class="fas fa-user-secret" href="{{ site.baseurl }}/about/">ABOUT ME</a></li>
                <li><a class="fas fa-key" href="{{ site.baseurl }}/login/">PROJECTS</a></li>
            </ul>
        </nav>
    </header>
    <main class="site-content">
