{% include lecturer-course.html name='Programming Basics with C# -' link='https://softuni.bg/trainings/2298/programming-basics-with-csharp-march-2019' free='true' instance='March
2019' %}

{% include lecturer-course.html name='HTML and CSS - ' link='https://softuni.bg/trainings/2286/html-css-mini-course' free='true' instance='Mini Course' %}

{% include lecturer-course.html name='JS Fundamentals -' link='https://softuni.bg/trainings/2247/js-fundamentals-january-2019' instance='Jan 2019' %}

{% include lecturer-course.html name='CSS Advanced -' link='https://softuni.bg/trainings/3042/css-advanced-july-2020' instance='July 2020' %}

<p>
    Web Fundamentals (HTML5 and CSS3) -
    <a href="https://softuni.bg/trainings/1869/web-fundamentals-html-css-january-2018/open" target="_blank">January
        2018</a>,
    <a href="https://softuni.bg/trainings/1963/web-fundamentals-html-may-2018/internal" target="_blank">May
        2018</a>,
    <a href="https://softuni.bg/trainings/2135/web-fundamentals-html5-september-2018/open" target="_blank">September
        2018</a>,
    <a href="https://softuni.bg/trainings/2784/html-and-css-february-2020" target="_blank">Feb
        2020</a>
        <a href="https://softuni.bg/trainings/2983/html-and-css-may-2020/open" target="_blank">May 2020</a>
        <a href="https://softuni.bg/trainings/3122/html-and-css-september-2020/internal" target="_blank">September 2020</a>
</p>

<p>
    JavaScript for Front-End -
    <a href="https://softuni.bg/trainings/2032/javascript-for-front-end-july-2018/open" target="_blank">July
        2018</a>,
    <a href="https://softuni.bg/trainings/2699/javascript-for-front-end-december-2019" target="_blank">Dec
        2019</a>
</p>

{% include lecturer-course.html name='Programming Basics with C# -' link='https://softuni.bg/trainings/2073/programming-basics-with-csharp-september-2018' instance='September
2018' free='true' %}

{% include lecturer-course.html name='JavaScript for Front-End -' link='https://softuni.bg/trainings/2946/js-for-front-end-march-2020' instance='March
2020' free='true' %}

{% include lecturer-course.html name='WordPress Basics for Teachers -' link='https://softuni.bg/trainings/2157/wordpress-basics-for-teachers-september-2018' instance='September
2018' %}

{% include lecturer-course.html name=' IT Labs - WordPress Basics -' link='https://svetlina.softuni.bg/trainings/3/svetlina-it-labs-wordpress-2018' instance='(SoftUni Svetlina)' %}

{% include lecturer-course.html name='JS Advanced - ' link='https://softuni.bg/trainings/2248/js-advanced-february-2019' instance='February 2019' %}

{% include lecturer-course.html name='JS Advanced - ' link='https://softuni.bg/trainings/2447/js-advanced-september-2019' instance='September 2019' %}

{% include lecturer-course.html name='Programming Basics with JavaScript - ' link='https://softuni.bg/trainings/2590/programming-basics-with-javascript-november-2019' instance='November
2019' free='true' %}

{% include lecturer-course.html name='JavaScript Essentials - 
' link='https://softuni.bg/trainings/2947/javascript-essentials-march-2020' instance='March 2020' free='true' %}