<section class="skills">
    <h3>Workflow</h3>
    <ul>
        <li><i class="fas fa-check"></i>Experience with React.js</li>
        <li><i class="fas fa-check"></i>Mobile-First, Responsive Design</li>
        <li><i class="fas fa-check"></i>Experience with Node.js</li>
        <li><i class="fas fa-check"></i>Knowledge of Object Oriented Programming</li>
        <li><i class="fas fa-check"></i>Excellent knowledge of JavaScript</li>
        <li><i class="fas fa-check"></i>Excellent knowledge of HTML5 and CSS3</li>
        <li><i class="fas fa-check"></i>Excellent knowledge and experience with WordPress, Weebly and other CMS
            systems
        </li>
    </ul>
</section>