---
layout: site
title: Education
permalink: /education/
---

<div class="center">
    <button class="btn">
        <a href="#certificates"><i class="fa fa-glasses"></i>Certificates and Skills</a>
    </button>
</div>

<div class="experience">

    <h2 class="center">University Of National And World Economy</h2>

    <ul class="timeline">
        <!-- Item 1 -->
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="flag">Business Informatics</span>
                    <span class="time-wrapper"><span class="time">2016 - 2020</span></span>
                </div>
                <div class="desc">
                    <h2>
                        Bachelor's degree
                    </h2>
                    <h3>
                        Faculty of Applied Informatics and Statistics
                    </h3>
                    <p>
                        Business informatics is a discipline combining information technology (IT), informatics and
                        management concepts. This is an interdisciplinary degree providing a bridge between the areas of
                        business and information technology. Learn to design or redesign systems to meet business
                        requirements and support them, investigate information needs, integrate business systems, and
                        manage service provision and outsourcing.
                    </p>
                </div>
            </div>
        </li>
    </ul>

    <h2 class="center">Software University</h2>

    <ul class="timeline">

        <!-- Item 1 -->
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">Software Engineering</span>
                    <span class="time-wrapper"><span class="time">2017 - Present</span></span>
                </div>
                <div class="desc">
                    <p>
                        Completed courses:
                    </p>
                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/certificates/details/20797/b83152a9" target="_blank">Programming
                            Basics with C#</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://digital.softuni.bg/certificates/details/5593/9e185d49"
                            target="_blank">Marketing
                            Fundamentals</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/certificates/details/18549/e85ffd74" target="_blank">Web
                            Fundamentals - HTML5</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/certificates/details/19769/c4117e3f" target="_blank">Wordpress
                            Basics</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/certificates/details/50557/d11211c5" target="_blank">Programming
                            Fundamentals</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/certificates/details/50749/0fff7126" target="_blank">Software
                            Technologies</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/certificates/details/51323/15f3c9dc" target="_blank">C# Advanced</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/certificates/details/53623/c927c3d7" target="_blank">C# OOP
                            Basics</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/Certificates/Details/53649/8fc65b1e" target="_blank">C# OOP
                            Advanced</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/Certificates/Details/57219/11537b0d" target="_blank">JavaScript for
                            Front-End</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/certificates/details/57941/7aff690f" target="_blank">Train the
                            Trainers</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/certificates/details/58326/d21a712e" target="_blank">JavaScript
                            Fundamentals</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/certificates/details/59632/a745a90b" target="_blank">JavaScript
                            Advanced</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="#" target="_blank">JavaScript Applications</a>
                    </p>

                    <p>
                        <i class="fas fa-award green"></i>
                        <a href="https://softuni.bg/certificates/details/60065/d10dba92" target="_blank">CSS
                            Advanced</a>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>


<section id="skills">
    <h2>Skills</h2>

    <h3>Workflow</h3>

    <ul>
        <li>
            <i class="fas fa-check"></i>
            Mobile-First, Responsive Design
        </li>
        <li>
            <i class="fas fa-check"></i>
            Cross Browser Testing &amp; Debugging
        </li>
        <li>
            <i class="fas fa-check"></i>
            Knowledge of Object Oriented Programming in C#
        </li>
        <li>
            <i class="fas fa-check"></i>
            Basic knowledge of JavaScript
        </li>
        <li>
            <i class="fas fa-check"></i>
            Excellent knowledge of HTML5 and CSS3
        </li>
        <li>
            <i class="fas fa-check"></i>
            Excellent knowledge and experience with WordPress, Weebly, Bootstrap
        </li>
    </ul>

</section>

<section id="certificates">
    <h2>Certificates</h2>

    <div class="item-grid">
        {% include certificate.html img='../images/certificates/excel.jpeg' imgAlt='softuni' author='SoftUni' name='Microsoft Excel Fundamentals' link='https://softuni.bg/certificates/details/72845/75a0de76' %}

        {% include certificate.html img='../images/certificates/agile.jpeg' imgAlt='softuni' author='SoftUni' name='Agile Software Development' link='https://softuni.bg/certificates/details/63269/7eba5305' %}

        {% include certificate.html img='../images/certificates/css-advanced.jpeg' imgAlt='softuni' author='SoftUni' name='CSS Advanced' link='https://softuni.bg/certificates/details/60065/d10dba92' %}

        {% include certificate.html img='../images/certificates/wordcamp.png' imgAlt='wordcamp' author='WordCamp' name='Volunteering' link='https://www.credential.net/i0hgckme' %}

        {% include certificate.html img='../images/certificates/js-advanced.jpeg' imgAlt='softuni' author='SoftUni' name='JS Advanced' link='https://softuni.bg/certificates/details/59632/a745a90b' %}

        {% include certificate.html img='../images/certificates/wp-for-teachers.jpeg' imgAlt='softuni' author='SoftUni' name='WordPress for Teachers' link='https://softuni.bg/certificates/details/58381/6b674405' %}

        {% include certificate.html img='../images/certificates/js-fund.jpeg' imgAlt='softuni' author='SoftUni' name='JS Fundamentals' link='https://softuni.bg/certificates/details/58326/d21a712e' %}

        {% include certificate.html img='../images/certificates/train-the-trainers.jpeg' imgAlt='softuni' author='SoftUni' name='Train the Trainers' link='https://softuni.bg/certificates/details/57941/7aff690f' %}

        {% include certificate.html img='../images/certificates/js-front-end.jpeg' imgAlt='softuni' author='SoftUni' name='JavaScript for front-end' link='https://softuni.bg/certificates/details/57219/11537b0d' %}

        {% include certificate.html img='../images/certificates/oop-advanced.jpeg' imgAlt='softuni' author='SoftUni' name='C# OOP Advanced' link='https://softuni.bg/certificates/details/53649/8fc65b1e' %}

        {% include certificate.html img='../images/certificates/oop-basics.jpeg' imgAlt='softuni' author='SoftUni' name='C# OOP Basics' link='https://softuni.bg/certificates/details/53623/c927c3d7' %}

        {% include certificate.html img='../images/certificates/csharp-adv.jpeg' imgAlt='softuni' author='SoftUni' name='C# Advanced' link='https://softuni.bg/certificates/details/51323/15f3c9dc' %}

        {% include certificate.html img='../images/certificates/soft-tech.jpeg' imgAlt='softuni' author='SoftUni' name='Software Technologies' link='https://softuni.bg/certificates/details/50749/0fff7126' %}

        {% include certificate.html img='../images/certificates/pb-basics.jpeg' imgAlt='softuni' author='SoftUni' name='Programming Basics' link='https://softuni.bg/certificates/details/20797/b83152a9' %}

        {% include certificate.html img='../images/certificates/wp-basics.jpeg' imgAlt='softuni' author='SoftUni' name='WordPress Basics' link='https://softuni.bg/certificates/details/19769/c4117e3f' %}

        {% include certificate.html img='../images/certificates/programming-fund.jpeg' imgAlt='softuni' author='SoftUni' name='Programming Fundamentals' link='https://softuni.bg/certificates/details/50557/d11211c5' %}

        {% include certificate.html img='../images/certificates/web-fund.jpeg' imgAlt='softuni' author='SoftUni' name='Web Fundamentals' link='https://softuni.bg/certificates/details/18549/e85ffd74' %}

        {% include certificate.html img='../images/certificates/youthpass.png' imgAlt='youthpass' author='European Comission' name='Mobility of Youth Workers' %}

        {% include certificate.html img='../images/certificates/marketing-fund.png' imgAlt='softuni' author='SoftUni Digital' name='Marketing Fundamentals' link='https://digital.softuni.bg/certificates/details/5593/9e185d49' %}

        {% include certificate.html img='../images/certificates/mathematics-2.jpg' imgAlt='mathematics' author='South-West University "Neofit Rilski"' name='Mathematics Competition (Matriculation examination)' %}

        {% include certificate.html img='../images/certificates/b1-english.jpg' imgAlt='english' author='European Center for Education and Training' name='Cerfiticate of Achievement - B1' %}
    </div>
</section>