---
layout: site
title: Projects
permalink: /projects/
---

<h2>Projects</h2>

<section>
  <div class="item-grid">
    {% include project.html img='../images/projects/veh-recovery.jpg' imgAlt='veh-recovery-img' technologies='React.js & Node.js' projectName='VehRecovery' link='https://github.com/antoniaat/VehRecovery' %}

    {% include project.html img='../images/projects/jiva-recovery.jpg' imgAlt='jiva-recovery-img' technologies='React.js & Node.js' projectName='Jiva Recovery' link='https://github.com/antoniaat/Jiva-Recovery' %}

    {% include project.html img='../images/projects/projects-softuni.jpg' imgAlt='projects-softuni-img' technologies='React.js & ASP.NET Core' projectName='Projects SoftUni' link='https://projects.softuni.bg/' %}

    {% include project.html img='../images/projects/quiz.jpg' imgAlt='quiz-img' technologies='Windows Forms' projectName='Quiz World' link='https://github.com/antoniaat/Quiz-World' %}

    {% include project.html img='../images/projects/dr-gais.png' imgAlt='dr-gais-img' technologies='WordPress' projectName='Dr Gais' link='http://dr-gais.samokovlib.com/' %}

    {% include project.html img='../images/projects/crowdsafe.png' imgAlt='crowdsafe-img' technologies='WordPress' projectName='Crowdsafe' link='http://www.crowdsafe.co' %}

    {% include project.html img='../images/projects/dashcam.bg.png' imgAlt='dashcam-img' technologies='WordPress' projectName='Dashcam' link='https://dashcam.bg/' %}

    {% include project.html img='../images/projects/perfecta-marketing-agency.png' imgAlt='perfecta-marketing-agency-img' technologies='WordPress' projectName='Perfecta Marketing' link='https://perfectamarketing.com' %}

    {% include project.html img='../images/projects/bootstrap-porfolio.png' imgAlt='bootstrap-porfolio-img' technologies='Bootstrap' projectName='Portfolio' link='https://antoniya.netlify.com' %}
  </div>

  <br>
  <br>

  <h2>Old Projects (not avaliable)</h2>

  <div class="item-grid">
    {% include project.html img='../images/projects/Deka3s.png' imgAlt='deka3s-img' technologies='WordPress' projectName='Deka3s' link='http://deka3s.com/' %}

    {% include project.html img='../images/projects/yes-camp-global.png' imgAlt='yescamp-img' technologies='WordPress' projectName='Yes Camp Global' link='"http://www.yescamp.co/' %}

    {% include project.html img='../images/projects/ybc-fest.png' imgAlt='ybc-fest-img' technologies='WordPress' projectName='Youth Business Club Festival' link='http://www.fest.skill-ground.com/' %}

    {% include project.html img='../images/projects/yes-camp-bg.png' imgAlt='yes-camp-bg-img' technologies='WordPress' projectName='Yes Camp Bulgaria' link='"http://www.bg.yescamp.co/' %}

    {% include project.html img='../images/projects/youth-business-club.png' imgAlt='ybc-img' technologies='WordPress' projectName='Youth Business Club' link='http://www.ybcbulgaria.com/' %}
  </div>
</section>