---
layout: site
title: Videos
permalink: /videos/
---

{% include talk.html url='https://www.youtube.com/embed/p9juErelaPE' header='IT Talks #6: SoftUni Podcast with Svetlin Nakov' content='По време на епизода ще чуете повече за развитието на софтуерната и технологичната индустрия през последните 20-25 години - еволюция на програмирането, езиците за програмиране, платформите за разработка, компютърните и комуникационните технологии. Ще чуете и как се развива България спрямо международния пазар, ще отворят ли големите компании офиси тук и отдалечената работа ли е пътя по който ще поеме сектора? Светлин е вдъхновител на хиляди млади хора по пътя им към професията "софтуерен инженер". Той има 20-годишен опит като софтуерен инженер, ръководител на софтуерни и ИТ проекти, преподавател по информационни технологии, програмиране и разработка на софтуер, ИТ консултант, предприемач и разработчик на уеб, мобилни, настолни и сървърни приложения.' %}

{% include talk.html url='https://www.youtube.com/embed/91LKVhfH1kc' header='IT Talks #4: SoftUni Podcast with Ivaylo Kenov' content='В епизод #4 ще разберете:
- Кой е Ивайло Кенов?
- Какъв е професионалният път, който е извървял и какво го е накарало да се потопи в света на програмирането?
- Как от програмист се става CTO?
- Какво мисли за open-source проектите и какви ползи може да извлече човек от тях?
- Как Ивайло задържа мотивацията си и как управлява времето си?
- Кои са били трудните моменти от които Ивайло си е взел поука?
- Как можем да задържим дисциплината и продуктивността си на високо ниво?
- Как Ивайло продължава да развива технологичното си ниво и кои полезни източници и книги препоръчва за всеки, който иска да обогати знанията си?' %}

{% include talk.html url='https://www.youtube.com/embed/aglMPg5bAf4' header='IT Talks #3: SoftUni Podcast with Victor Penelski
' content='В епизод #3 ще разберете:
- Кой е Виктор Пенелски?
- Кое го е накарало да започне да се занимава с програмиране?
- Имало ли е трудни моменти в които Виктор се е колебал дали да не прекрати ИТ кариерата си и какво му помага да върви напред?
- Какво са потребителските групи и какви са ползите от членуването в тях?
- Каква част от времето си Виктор отделя за учене и кои канали най-често следи?
- Как йерархично са подредени позициите, които един програмист може да заеме?
- Какви са компаниите в ИТ света като категории и кои са предимствата при работа в едните и другите?' %}

{% include talk.html url='https://www.youtube.com/embed/cZUBIfWZZvY' header='IT Talks #2: SoftUni Podcast with Ivaylo Papazov
' content='В епизод #2 ще разберете: 
- Кой е Ивайло Папазов?
- Как можем да си изградим правилен подход към това да учим нещата бързо и ефикасно?
- Какъв процент от времето си Иво отделя за учене?
- Кои полезни ресурси препоръчва той, за да учим и да сме в час винаги с най-новото от света на уеб програмирането?
- Има ли тайна за това как в малък срок от време да успяваме да учим различни езици и технологии?
- Как Ивайло намира начин да балансира между учене, работа и личен живот?
- Коя е била последната технология, която е спечелила сърцето на Иво?
- Важни ли са проектите в портфолиото на един начинаещ програмист и как може SoftUni Projects да ни помогне да решим този проблем?' %}

{% include talk.html url='https://www.youtube.com/embed/gxtjQX5TGAk' header='How to create good advertising photo withouth designer skills?
' content='Често си мислим, че да направим проста рекламна снимка или корица е трудна и дизайнерска задача. Във това видео ще видите, че това не е така. Благодарение на безплатният инструмент Аdobe XD за минути можем да имаме различни формати на рекламни изображения, които да използваме, за позициониране на нашият бизнес.' %}

{% include talk.html url='https://www.youtube.com/embed/Lpim2Qs1OsA' header='Introduction to HTML' content='По време на лекцията може да разберете: Какво е HTML и какво е неговото предназначение? Как можем да създадем html файл и да го отворим? Кои са таговете с които да пишем уеб съдържание? Какво е семантичен таг и с какво HTML5 е по-различна версия от предходните?' link='https://softuni.bg/trainings/2286/html-css-mini-course' text='Безплатният курс "HTML and CSS Mini Course" в СофтУни' %}

{% include talk.html url='https://www.youtube.com/embed/0CF2FsMjHYA' header='Introduction to CSS' content='По време на лекцията ще разберете: Какво е CSS? Как CSS и HTML работят заедно? Как можем да селектираме елементи в CSS по таг, клас, id? Какво са nested selectors? Какво е CSS priority и box model?' link='https://softuni.bg/trainings/2286/html-css-mini-course' text='Безплатният курс "HTML and CSS Mini Course" в СофтУни' %}

{% include talk.html url='https://www.youtube.com/embed/-d7LF8QPcUI' header='Programming Basics with JS - Conditional Statements' content='Лекцията е част от безплатният курс Programming Basics в SoftUni. По време на лекцията се разглеждат прости
проверки - минава се през концепцията за какво ни служат те, къде в програмирането намират приложение, какво
е if-else проверка, как можем да зададем поредица от проверки и да проверяваме за много условия и се решават
задачи, които имат за цел да упражнят работата с прости проверки.' link='https://softuni.bg/trainings/2590/programming-basics-with-javascript-november-2019' text='Безплатният курс "Programming Basics with JavaScript" в СофтУни'%}

<!-- pagination
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="/">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
</div> -->